<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>NEWSサイト</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\css\style.css">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
$(function(){
$('a[href^="#"]').click(function() {
var speed = 800;
var href= $(this).attr("href");
var target = $(href == "#" || href == "" ? 'html' : href);
var position = target.offset().top;
$('body,html').animate({scrollTop:position}, speed, 'swing');
return false;
});
});
</script>
</head>

<body>

<header>
<nav id="menubar">
<ul>
<li><a href="#new">What's New</a></li>
<li><a href="#about">About this site</a></li>
<li><a href="#business">Business News</a></li>
<li><a href="#entertainment">Entertaiment News</a></li>
<li><a href="#general">General News</a></li>
<li><a href="#health">Health News</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</nav>
</header>

<div id="container">

<div id="contents">

<section id="new">

<h2>What's New</h2>
<dt>2021/04/01</dt>
<dd>サンプルページ公開。</dd>
<dt>2021/04/05</dt>
<dd>Newsページ追加</dd>
<dt>2021/04/10</dt>
<dd>Newsカテゴリー追加</dd>
</dl>

</section>
<!--/#new-->

<section id="about">

<h2>このサイトについて</h2>

<p>国内のニュースを閲覧できます。<br>
表示されるニュースはリアルタイムで一定時間ごとに切り替わります。<br>
News APIを使用しています。詳細は<a href=https://newsapi.org/>こちら</p></a>

</section>

<section id="business">

<h2>Business News</h2>

<div class="list">
<a href={{link_business[0]}}><img src={{image_business[0]}} alt="">
<h4>{{text_business[0]}}</h4></a>
</div>

<div class="list">
<a href={{link_business[1]}}><img src={{image_business[1]}} alt="">
<h4>{{text_business[1]}}</h4></a>
</div>

<div class="list">
<a href={{link_business[2]}}><img src={{image_business[2]}} alt="">
<h4>{{text_business[2]}}</h4></a>
</div>

<div class="list">
<a href={{link_business[3]}}><img src={{image_business[3]}} alt="">
<h4>{{text_business[3]}}</h4></a>
</div>

<div class="list">
<a href={{link_business[4]}}><img src={{image_business[4]}} alt="">
<h4>{{text_business[4]}}</h4></a>
</div>

</section>

<section id="entertainment">

<h2>Entertainment News</h2>

<div class="list">
<a href={{link_entertainment[0]}}><img src={{image_entertainment[0]}} alt="">
<h4>{{text_entertainment[0]}}</h4></a>
</div>

<div class="list">
<a href={{link_entertainment[1]}}><img src={{image_entertainment[1]}} alt="">
<h4>{{text_entertainment[1]}}</h4></a>
</div>

<div class="list">
<a href={{link_entertainment[2]}}><img src={{image_entertainment[2]}} alt="">
<h4>{{text_entertainment[2]}}</h4></a>
</div>

<div class="list">
<a href={{link_entertainment[3]}}><img src={{image_entertainment[3]}} alt="">
<h4>{{text_entertainment[3]}}</h4></a>
</div>

<div class="list">
<a href={{link_entertainment[4]}}><img src={{image_entertainment[4]}} alt="">
<h4>{{text_entertainment[4]}}</h4></a>
</div>

</section>

<section id="general">

<h2>General News</h2>

<div class="list">
<a href={{link_general[0]}}><img src={{image_general[0]}} alt="">
<h4>{{text_general[0]}}</h4></a>
</div>

<div class="list">
<a href={{link_general[1]}}><img src={{image_general[1]}} alt="">
<h4>{{text_general[1]}}</h4></a>
</div>

<div class="list">
<a href={{link_general[2]}}><img src={{image_general[2]}} alt="">
<h4>{{text_general[2]}}</h4></a>
</div>

<div class="list">
<a href={{link_general[3]}}><img src={{image_general[3]}} alt="">
<h4>{{text_general[3]}}</h4></a>
</div>

<div class="list">
<a href={{link_general[4]}}><img src={{image_general[4]}} alt="">
<h4>{{text_general[4]}}</h4></a>
</div>

</section>

<section id="health">

<h2>Health News</h2>
<div class="list">
<a href={{link_health[0]}}><img src={{image_health[0]}} alt="">
<h4>{{text_health[0]}}</h4></a>
</div>

<div class="list">
<a href={{link_health[1]}}><img src={{image_health[1]}} alt="">
<h4>{{text_health[1]}}</h4></a>
</div>

<div class="list">
<a href={{link_health[2]}}><img src={{image_health[2]}} alt="">
<h4>{{text_health[2]}}</h4></a>
</div>

<div class="list">
<a href={{link_health[3]}}><img src={{image_health[3]}} alt="">
<h4>{{text_health[3]}}</h4></a>
</div>

<div class="list">
<a href={{link_health[4]}}><img src={{image_health[4]}} alt="">
<h4>{{text_health[4]}}</h4></a>
</div>

</section>
<!--/#service-->

<section id="contact">

<h2>Contact</h2>
<p class="c">お問い合わせは以下までお願い致します。</p>
<p class="c"><span class="big1">business.work.user@gmail.com</span><br>
<p class="c"><img src="static\images\sample1.jpg" alt="" width="300"></p>

</section>
<!--/#contact-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

</body>
</html>